swig 
aenum
tensorboard
pyvirtualdisplay
torch
gymnasium[box2d]
ray[rllib]==2.5.1
scikit-image
pygame
numba
Gymnasium
PyYAML
black
flake8
GitPython
tensorflow_probability
imageio
pydantic==1.10.9
mlflow